<div id="main-content" class="container mt-2">
  <div class="row">
    <div class="col-md-12">
      <form class="form-inline">
        <div class="form-group">
          <span>WebSocket Status:
            <span class="{{connected ? 'text-success' : 'text-danger'}}">
              <strong>{{ connected ? 'Connected' : 'Disconnected'}}</strong>
            </span>
          </span>
          <button class="btn btn-sm bg-light ml-2 float right" (click)="connect()" *ngIf="!connected">reconnect</button>
        </div>
      </form>
      <hr>
    </div>
    <div class="col-md-12 my-2">
      <form class="" name="test-form">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" class="form-control ml-2" placeholder="Your name here..." [(ngModel)]="name">
        </div>
        <div class="form-group">
          <label for="message">Message:</label>
          <textarea type="text" id="name" name="message" class="form-control ml-2" placeholder="Your Message here..." [(ngModel)]="message"></textarea>
        </div>
        <button id="send" class="btn btn-primary" type="button" (click)="sendMessage()">Send</button>
      </form>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" *ngIf="connected">
        <div class="col-12">
          <strong>Chat: </strong>(Number of messages: {{numberOfMessages}})
        </div>
        <div class="bg-light col-12 p-2" *ngIf="messages.length > 0">
          <div class="row m-0" *ngFor="let m of messages">
            <div class="col-3">
              Name: {{m.name}}
            </div>
            <div class="col-9">
              Message: {{m.message}}
            </div>
          </div>
        </div>
    </div>
  </div>

</div>
